* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", system-ui, -apple-system, sans-serif;
  width: 350px;
  height: 220px;
  padding: 16px;
  background: var(--grey-900);
  color: var(--grey-100);
}

main {
  display: flex;
  flex-direction: column;
  height: 100%;
}

#app {
  display: flex;
  flex-direction: column;
  gap: 12px;
  height: 100%;
}

h1 {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 18px;
  color: var(--grey-50);
}
