:root {
  --blue-50: #f0f0fb;
  --blue-100: #c4d8f5;
  --blue-200: #96bfee;
  --blue-300: #6ba0e5;
  --blue-400: #3f83dc;
  --blue-500: #1d62dd;
  --blue-600: #1752ba;
  --blue-700: #124297;
  --blue-800: #003274;
  --blue-900: #082351;

  --grey-50: #f0f2f5;
  --grey-100: #d8dce3;
  --grey-200: #bec4ce;
  --grey-300: #a1a9b0;
  --grey-400: #7e879a;
  --grey-500: #5e677c;
  --grey-600: #4a5264;
  --grey-700: #373e4d;
  --grey-800: #262b37;
  --grey-900: #161a22;

  --error-bg: #3f1a1a;
  --error-text: #f87171;
}
